n8n/workflows/inbound_call.json
{
    "name": "Inbound Call Handler",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "webhook/inbound-call",
          "options": {}
        },
        "name": "VAPI Webhook",
        "type": "n8n-nodes-base.webhook",
        "position": [
          -1780,
          -60
        ],
        "typeVersion": 1,
        "id": "83a3db2d-597f-4415-ba2e-d2d0c6983a8a",
        "webhookId": "b3fad006-569e-45d6-b636-dffa34845a95"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "=https://bfd5537d7909.ngrok.app/api/v1/calls/process",
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "call_id",
                "value": "={{ $('VAPI Webhook').item.json.body.call_id }}"
              },
              {
                "name": "customer_id",
                "value": "={{ $json.customer_id || null }}"
              },
              {
                "name": "phone_number",
                "value": "={{ $json.body.from }}"
              },
              {
                "name": "transcript",
                "value": "={{ $json.body.transcript }}"
              },
              {
                "name": "audio_url",
                "value": "={{ $json.audio_url || null }}"
              },
              {
                "name": "metadata",
                "value": "={ \"direction\": \"inbound\", \"provider\": \"vapi\", \"raw_data\": $json }"
              }
            ]
          },
          "options": {
            "allowUnauthorizedCerts": true
          }
        },
        "name": "Process Call with Voice Agent API",
        "type": "n8n-nodes-base.httpRequest",
        "position": [
          -1340,
          -60
        ],
        "typeVersion": 4,
        "id": "11d06a72-88e6-4cc5-b171-007833b3cc21"
      },
      {
        "parameters": {
          "functionCode": "// Set API URL based on environment\nconst environments = {\n  ngrok: \"https://1215-23-92-1-95.ngrok-free.app\",\n  production: \"https://api.voice-agent.example.com\",\n  staging: \"https://api-staging.voice-agent.example.com\",\n  development: \"http://localhost:8000\"\n};\n\n// Get environment from workflow data or use default\nconst environment = $workflow.environment || \"ngrok\";\nconst apiUrl = environments[environment] || environments.ngrok;\n\n// Ensure both item and item.json exist\nif (!item) {\n  item = { json: {} };\n} else if (!item.json) {\n  item.json = {};\n}\n\n// Add API URL to payload\nitem.json.apiUrl = apiUrl;\nreturn item;"
        },
        "name": "Prepare API Request",
        "type": "n8n-nodes-base.functionItem",
        "position": [
          -1560,
          -60
        ],
        "typeVersion": 1,
        "id": "bbd364e4-d71b-4441-8fc1-64fdfb05256d"
      },
      {
        "parameters": {
          "conditions": {
            "string": [
              {
                "value1": "={{ $json.intent }}",
                "operation": "isNotEmpty"
              }
            ]
          }
        },
        "name": "Intent Detected?",
        "type": "n8n-nodes-base.if",
        "position": [
          -1120,
          -60
        ],
        "typeVersion": 1,
        "id": "60e2ef97-2f08-4481-bcfa-35c119fb154b"
      },
      {
        "parameters": {
          "rules": {
            "rules": [
              {
                "operation": "equal"
              },
              {
                "operation": "equal",
                "value2": 1,
                "output": 1
              },
              {
                "operation": "equal",
                "value2": 2,
                "output": 2
              },
              {
                "operation": "equal",
                "value2": 3,
                "output": 3
              }
            ]
          }
        },
        "name": "Check Intent Type",
        "type": "n8n-nodes-base.switch",
        "position": [
          -920,
          -220
        ],
        "typeVersion": 1,
        "id": "ef7d7c7d-673a-4fa9-a644-ed02354d1e3c",
        "alwaysOutputData": true
      },
      {
        "parameters": {
          "method": "POST",
          "url": "=https://bfd5537d7909.ngrok.app/api/v1/appointments",
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "call_data",
                "value": "={{ $json }}"
              }
            ]
          },
          "options": {
            "allowUnauthorizedCerts": true
          }
        },
        "name": "Book Appointment",
        "type": "n8n-nodes-base.httpRequest",
        "position": [
          -680,
          -280
        ],
        "typeVersion": 4,
        "id": "fb23a9a2-e319-43fe-b173-543d3596e662"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "={{$node[\"Prepare API Request\"].json[\"apiUrl\"]}}/api/v1/appointments/reschedule",
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "call_data",
                "value": "={{ $json }}"
              }
            ]
          },
          "options": {
            "allowUnauthorizedCerts": true
          }
        },
        "name": "Reschedule Appointment",
        "type": "n8n-nodes-base.httpRequest",
        "position": [
          -680,
          -160
        ],
        "typeVersion": 4,
        "id": "6cdbba82-ee8e-40a1-9bc4-4379f9fc246d"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "={{$node[\"Prepare API Request\"].json[\"apiUrl\"]}}/api/v1/appointments/cancel",
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "call_data",
                "value": "={{ $json }}"
              }
            ]
          },
          "options": {
            "allowUnauthorizedCerts": true
          }
        },
        "name": "Cancel Appointment",
        "type": "n8n-nodes-base.httpRequest",
        "position": [
          -680,
          -40
        ],
        "typeVersion": 4,
        "id": "a77bf08e-c8e9-464d-b465-a60e1a2396cf"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "={{$node[\"Prepare API Request\"].json[\"apiUrl\"]}}/api/v1/calls/{{$json.call_id}}/transfer",
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "phone_number",
                "value": "={{ $workflow.customer_service_number || \"+15551234567\" }}"
              }
            ]
          },
          "options": {
            "allowUnauthorizedCerts": true
          }
        },
        "name": "Transfer to Human Agent",
        "type": "n8n-nodes-base.httpRequest",
        "position": [
          -680,
          80
        ],
        "typeVersion": 4,
        "id": "255a9497-fa4e-419f-a932-24a9186758e0"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "={{$node[\"Prepare API Request\"].json[\"apiUrl\"]}}/api/v1/callbacks/schedule",
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "customer_id",
                "value": "={{ $json.customer_id }}"
              },
              {
                "name": "phone_number",
                "value": "={{ $json.from }}"
              },
              {
                "name": "callback_time",
                "value": "={{ $json.callback_time || (new Date(Date.now() + 24 * 60 * 60 * 1000)).toISOString() }}"
              },
              {
                "name": "purpose",
                "value": "{{ $json.purpose || \"follow-up\" }}"
              }
            ]
          },
          "options": {
            "allowUnauthorizedCerts": true
          }
        },
        "name": "Schedule Callback",
        "type": "n8n-nodes-base.httpRequest",
        "position": [
          -680,
          200
        ],
        "typeVersion": 4,
        "id": "0aaca58a-3973-4380-87af-b19580d6072b"
      },
      {
        "parameters": {
          "calendar": {
            "__rl": true,
            "value": "adityapallipati.cloud@gmail.com",
            "mode": "list",
            "cachedResultName": "adityapallipati.cloud@gmail.com"
          },
          "start": {
            "dateTime": "={{$json.appointmentTime}}"
          },
          "end": {
            "dateTime": "={{new Date(new Date($json.appointmentTime).getTime() + 30 * 60 * 1000).toISOString()}}"
          },
          "additionalFields": {}
        },
        "name": "Create Calendar Event",
        "type": "n8n-nodes-base.googleCalendar",
        "position": [
          -420,
          -280
        ],
        "typeVersion": 1,
        "id": "72db2e0e-1cb8-4107-90d0-a640db43d203",
        "credentials": {
          "googleCalendarOAuth2Api": {
            "id": "HH072OxSSzf0vbZg",
            "name": "Google Calendar account"
          }
        }
      },
      {
        "parameters": {
          "from": "+14694552537",
          "to": "={{ $json.from }}",
          "message": "Hello {{ $json.customer_name || 'Customer' }}, your appointment is confirmed for {{ $json.appointmentDate }} at {{ $json.appointmentTime }}. Reply to this message if you have any questions.",
          "options": {}
        },
        "name": "Send Confirmation SMS",
        "type": "n8n-nodes-base.twilio",
        "position": [
          -420,
          -160
        ],
        "typeVersion": 1,
        "id": "90d491e3-aaa2-4a9f-b9cc-906e7cea6541",
        "credentials": {
          "twilioApi": {
            "id": "XLAAIn8UmgfcdHuT",
            "name": "Twilio account"
          }
        }
      },
      {
        "parameters": {
          "options": {}
        },
        "name": "Prepare VAPI Response",
        "type": "n8n-nodes-base.respondToWebhook",
        "position": [
          -420,
          -60
        ],
        "typeVersion": 1,
        "id": "0b4c0f6f-fc1a-47c8-9dd1-3ddc061f16fa"
      }
    ],
    "pinData": {},
    "connections": {
      "VAPI Webhook": {
        "main": [
          [
            {
              "node": "Prepare API Request",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Prepare API Request": {
        "main": [
          [
            {
              "node": "Process Call with Voice Agent API",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Process Call with Voice Agent API": {
        "main": [
          [
            {
              "node": "Intent Detected?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Intent Detected?": {
        "main": [
          [
            {
              "node": "Check Intent Type",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Transfer to Human Agent",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Check Intent Type": {
        "main": [
          [
            {
              "node": "Book Appointment",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Reschedule Appointment",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Cancel Appointment",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Transfer to Human Agent",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Book Appointment": {
        "main": [
          [
            {
              "node": "Create Calendar Event",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Create Calendar Event": {
        "main": [
          [
            {
              "node": "Send Confirmation SMS",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Send Confirmation SMS": {
        "main": [
          [
            {
              "node": "Prepare VAPI Response",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Reschedule Appointment": {
        "main": [
          [
            {
              "node": "Prepare VAPI Response",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Cancel Appointment": {
        "main": [
          [
            {
              "node": "Prepare VAPI Response",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Transfer to Human Agent": {
        "main": [
          [
            {
              "node": "Prepare VAPI Response",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Schedule Callback": {
        "main": [
          [
            {
              "node": "Prepare VAPI Response",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "active": true,
    "settings": {
      "executionOrder": "v1"
    },
    "versionId": "11d187cf-e180-45d9-982f-5078790c33bb",
    "meta": {
      "templateCredsSetupCompleted": true,
      "instanceId": "a46b281ab13dbab9f2c6dd5f00ecae6ea2e265b5e1d2bd2663745babbdd568eb"
    },
    "id": "hqvSipBAkWC3CklH",
    "tags": []
  }